.videos_search
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	width: 100%;

}

.search_btn
{
	border-top: 1.5px solid #214B97;
	border-right: 1.5px solid #214B97;
	border-bottom: 1.5px solid #214B97;
	border-left: 0px solid #214B97;
	background-color: #9AC4FE;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.search_btn:before
{
	content: "\f002";
	font-family: FontAwesome;
	font-size: 18px;
  	color: #ffffff;
}

.search_field
{
	border-top: 1.5px solid #214B97;
	border-left: 1.5px solid #214B97;
	border-bottom: 1.5px solid #214B97;
	border-right: 0px solid #214B97;
	font-family: 'Arial';
	font-size: 18px;
	width: 100%;
	height: 40px;
}