.video_element
{
	width: 280px;
	height: 157.5px;
	margin: 6px;
	border-radius: 5px;
}

.video_element iframe {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.video_gradient {
	width: 100%;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.1) 80%);
}

.video_title {
	display: inline-block;
	font-family: "Verdana";
	letter-spacing: .1px;
	font-weight: 700;
	font-size: 11px;
	color: #ffffff;
	width: calc(100%- 32px);
	padding: 16px;
	line-height: 16px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}