.paginator {
	width: 100%;
}

.videos_stack
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
    padding: 0;
    margin: 16px 0;
}

.page {
	width: 50px;
	height: 50px;
	color: black;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(218, 218, 218);
	font-size: 18px;
	cursor: pointer;	
}

.page.active {
    background-color: #214B97;
    color: white;
    border: 1px solid #214B97;
}

.one_page{
	background-color: #ddd;
	/*margin: 0 300px;*/
}

.page:hover:not(.active) {
	background-color: #ddd;
}

.left-arrow, .right-arrow, .disabled {
	width: 100px;
	padding: 0px 8px;
	margin: 0 8px;
}

.disabled{background-color: #ddd;}

