.header
{
	font-size: 1.5em;
	font-weight: 500;
}

.urfu_logo
{
	width: 200px;
	height: 100px;
	background-image: url(./urfulogo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-block;
}

.phone_link
{
	display: flex;
	flex-wrap: wrap;
	font-size: 10px;
	color: #000000;
}

.lk{
	position: right;
	width: 170px;
	height: 32px;
	background-color: #FF009C;
}

.nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a
{
	text-decoration: none;
	color: #000000
}